body {
   font-family: sans-serif;
}

div {
   padding: 10px;
   width: 300px;
   height: 300px;
   border: 1px solid black;
   overflow: hidden;
}

p {
   position: fixed;
   top: 50%;
   right: 0;
}

button {
   font-size: 1.5rem;
   padding: 10px;
   margin: 10px;
}
